<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
    <title>sign-up</title>
</head>
<body>
<div class="container">
    <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-user"></i> Please Sign Up
            </div>
            <div class="card-block" style="padding: 24px;">
                <form method="post" name="f" th:action="@{/users/sign-up}">
                    <fieldset>
                        <!-- Thymeleaf + Spring Security error display -->
                        <div class="alert alert-danger" th:if="${param.error}">
                            Invalid email and password.
                        </div>

                        <div class="alert alert-success" th:if="${param.logout}">
                            You have been logged out.
                        </div>

                        <!-- Login Controls -->
                        <div class="form-group">
                            <label for="email">email</label>
                            <input class="form-control" id="email" name="email"
                                   placeholder="Email Address" type="text">
                        </div>

                        <div class="form-group">
                            <label for="nickname">nickname</label>
                            <input class="form-control" id="nickname" name="nickname"
                                   placeholder="Nickname" type="text">
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" name="password"
                                   placeholder="Password"
                                   type="password">
                        </div>

                        <!-- Login Button -->
                        <div class="form-actions" style="margin-top: 12px;">
                            <button class="btn btn-success" type="submit">Sign Up</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>